.main-container{
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size:20px ;
    text-align: center;
    font-weight: normal;
    margin: 5pc;

}

.container{
    font-family: monospace;
    font-size: larger;
    text-align:center;
    

}
.box1{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;

}
.box2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
    

}

