#main-header{
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin: 5pc;
}
.container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.box0 h2{
    text-align: left;
}


.box1 img{
   position: left;
    border: 3px solid white;
}


.box2 img{
    border: 3px solid white;
}


.box3 img{
    border: 3px solid white;
}

.box4 img{
    border: 3px solid white;
}
.box5 img{
    border: 3px solid white;
}


.box6 img{
    border: 3px solid white;
}